.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: #858383;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p{
    color: #383838;
    font-size: 25px;
    font-weight: 700;
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 30px;
    color: #636161;
    font-size: 17px;
}

.footer-links li{
cursor: pointer;
}

.footer-social-icon{
    display: flex;
    gap: 20px;
}

.footer-icons-container{
    padding: 0px;
    padding-bottom: 6px;
    background: #fbfbfb;
    /* border: 1px solid #ebebeb; */
    background-color: #858383;

}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 5px;
    color: #1a1a1a;
    font-size: 12px;
}

.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 7px;
    height: 3px;
    background: #c7c7c7;
   
}